@{
    ViewData["Title"] = "Notas";
}

<div class="text-justify">
    <p class="display-6">Politécnico Internacional es una institucion de educacion superior.</p>
    <p class="display-6">
        Liderando e innovando en proyectos y emprendimientos de acuerdo a tu área de estudio.
        Estamos comprometidos con el desarrollo laboral de nuestros egresados y somos reconocidos por las destacadas competencias prácticas y por los altos estándares de calidad y servicio de nuestros programas.
    </p>
</div>
