@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">Política de privacidad</h1>

<p></p>
<p>La presente política de privacidad, provee información sobre el tratamiento de datos personales.</p>
<p>Todos los derechos reservados.</p>
<p>Politécnico Internacional.</p>
